* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  margin: 15px auto;
  max-width: 400px;
  height: 500px;
  padding: 2px;
  flex-direction: column;
  background-color: black;
  padding: 10x;
  border: 10px solid rgba(47, 47, 47, 1);
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #b2b9b7;
  margin-bottom: 10px;
  font-size: 2em;
  padding: 5px;
  padding-right: 20px;
  height: 56px;
}

.buttons {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: black;
  flex-basis: 70%;
  gap: 5px;
}

button {
  flex-grow: 1;
  flex: 1 1 calc(25%);
  height: auto;
  border-bottom: 5%;
  border: none;
  font-size: 2em;
}

.number {
  background-color: #217c7e;
}

.operators,
#clear,
#goBack {
  background-color: #ff8f1f;
}

#dot,
#was,
#equal {
  background-color: dodgerblue;
}
